<!-- Extends the base html file that has all the repeated things that all files need -->
{% extends 'base.html' %}

<!-- Inserts header elements unique to this file into base template so can still use-->
{% block head %}
<!--  Importing CSS style sheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles_insights.css') }}">

<!-- Script for the charts -->
<!--Load the AJAX API-->
<meta name="budgetfull" content={{budget.year_budget}} />
<meta name="budgetremain" content={{budget.year_budget}} />
<meta name="compare" content={{compare}} />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', { 'packages': ['corechart'] });
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {

		var data = google.visualization.arrayToDataTable([
			{% for key, value in data.items() %}
	{% if value is string %}
	['{{ key }}', '{{ value }}'],
		{% else %}
	['{{ key }}', {{ value }}],
		{% endif %}
	{% endfor %}
	        ]);

	var options = {
		title: 'Categorized Yearly Expenditure',
		pieHole: 0.5
	};

	var chart = new google.visualization.PieChart(document.getElementById('piechart_yearly'));

	chart.draw(data, options);
	}

</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', { 'packages': ['corechart'] });
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {

		var data = google.visualization.arrayToDataTable([
			{% for key, value in weekly_category.items() %}
	{% if value is string %}

	['{{ key }}', '{{ value }}'],
		{% else %}
	['{{ key }}', {{ value }}],
		{% endif %}
	{% endfor %}
	        ]);

	var options = {
		title: 'Categorized Current Weekly Expenditure',
		backgroundColor: { fill:'transparent' },
		pieHole: 0.5
	};

	var chart = new google.visualization.PieChart(document.getElementById('piechart_weekly'));

	chart.draw(data, options);
	}
</script>
<script type="text/javascript">
	google.charts.load('current', { 'packages': ['bar'] });
	google.charts.setOnLoadCallback(drawStuff);

	function drawStuff() {
		var data = new google.visualization.arrayToDataTable([['Category of Expense', "Last Month's Weekly Average", "Current Week's Total"],
		{% for key, value in avg.items() %}
	{% for key1, valueinit in weekly_category.items() %}
	{% if (key == key1) %}
	['{{ key }}', {{ value }}, {{ valueinit }}],
		{% endif %}{% endfor %}
	{% endfor %}
	        ]);

	var options = {
		width: 800,
		chart: {
			title: 'Recent Expenditures Comparison',
			// subtitle: 'distance on the left, brightness on the right'
		},
		bars: 'horizontal', // Required for Material Bar Charts.
		series: {
			1: { axis: 'brightness' } // Bind series 1 to an axis named 'brightness'.
		},
		axes: {
			x: {
				brightness: { side: 'top', label: 'Cost in Pounds (£)' } // Top x-axis.
			}
		}
	};

	var chart = new google.charts.Bar(document.getElementById('dual_x_div'));
	chart.draw(data, options);
	};
</script>

<title>Insights and Graphs</title>
{% endblock %}


{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
	{% for category, message in messages %}
	<div class="alert alert-{{category}} alert-dismissible fade show justify-content-center text-center" role="alert">
		<strong>Messege</strong> {{message}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="paddedForm">
	<hr>

	<div class="container" style="height:1100px;">

		<h2>Explore Your Data</h2>


		<div id="dual_x_div" style="width: 900px; height: 450px;"></div>

		<div id="piechart_yearly"></div>

		{% if empty_week %}
		<div id="piechart_weekly" style="height: 100px important!;"></div>
		<!--<div style="width: 900px; height: 100px; align-content:baseline; float:left;">No record in current week!</div>-->
		{% else %}
		<div id="piechart_weekly"></div>
		{% endif %}

		<h5 class="sometextright float-right">Keep using the app for more interesting insights</h5>


		<!-- <div id="dual_x_div" style="width: 900px; height: 500px;"></div> -->
	</div>

</div>


<hr />

{% endblock %}
