.fititle{
	color: lightgrey !important;
}

.ourservices {
  padding: 15px 0px 60px;
  height: 550px;
}


.fa-chart-pie{
  margin-top: 20px;
}


.fa-comments-dollar{
  margin-top: 20px;
}


.fa-balance-scale-left{
  margin-top: 26px;
}
